/* Theme */
:root {
  --curve: #3c3c3c;
  --node: #eeeeee;
  --grid: #eeeeee;

  --tangent: #4caf50;
  --tangent-text: #eeeeee;

  --width: #d32f2f;
  --width-text: #eeeeee;

  --pos-z: #42a5f5;
  --pitch: #ff9800;

  --preview-background-color: #eeeeee;
  --preview-mesh-color: #3c3c3c;
  --preview-ambient-light-color: #83c4ea;
  --preview-ambient-light-intensity: 0.25;
  --preview-dir-light-color: #ffffff;
  --preview-dir-light-intensity: 3;
}

[data-dark] {
  --curve: #fff;
  --node: #707070;
  --grid: #303030;

  --tangent: #7fbc82;
  --tangent-text: #202020;

  --width: #e57373;
  --width-text: #202020;

  --pos-z: #32ace4;
  --pitch: #e8ac54;

  --preview-background-color: #303030;
  --preview-mesh-color: #e4e4e4;
}

/* Reset */
body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

text {
  user-select: none;
  pointer-events: none;
}

/* Curve Editor */
.curve-editor {
  width: 100%;
  height: 100%;
}

.curve-editor:focus {
  outline: none;
}

.curve-editor-grid {
  stroke: var(--grid);
  stroke-width: 1;
}

/* Curve Path */
.curve-path {
  fill: var(--curve);
  stroke: var(--curve);
  stroke-width: 2;
}

.curve-path.closed {
  opacity: 0.33;
}

/* Pos XY Handle */
.pos-xy-handle {
  fill: var(--node);
  stroke: var(--curve);
  stroke-width: 2;
}

.pos-xy-handle.selected {
  stroke: var(--tangent);
}

text.pos-xy-handle {
  fill: var(--curve);
  stroke-width: 0;
}

/* Tangent Handle */
line.tangent-handle {
  stroke: var(--tangent);
  stroke-width: 3;
}

circle.tangent-handle {
  fill: var(--tangent);
}

text.tangent-handle {
  fill: var(--tangent-text);
}

/* Width Handle */
line.width-handle {
  stroke: var(--width);
  stroke-width: 3;
}

circle.width-handle {
  fill: var(--width);
}

text.width-handle {
  fill: var(--width-text);
}

/* Arrow Up Handle */
.pos-z-handle {
  fill: var(--pos-z);
  opacity: 0.25;
}

.pos-z-handle:hover, .pos-z-handle.selected {
  opacity: 1;
}

/* Rotate Horizontal */
.pitch-handle {
  fill: var(--pitch);
  opacity: 0.25;
}

.pitch-handle:hover, .pitch-handle.selected {
  opacity: 1;
}

/* Node Label */
.node-label {
  fill: var(--pos-z);
  font-weight: bold;
}

/* 3D Preview */
.mesh-preview {
  overflow: hidden;
  position: relative;
}

.mesh-preview span {
  position: absolute;
  left: 10px;
  top: 5px;
}

.show-wireframe {
  position: absolute;
  left: 5px;
  bottom: 1px;
}

.show-wireframe label {
  user-select: none;
  margin-left: 5px;
}